@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-Bold.eot');
    src: url('../fonts/karla/Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-Bold.woff2') format('woff2'),
        url('../fonts/karla/Karla-Bold.woff') format('woff'),
        url('../fonts/karla/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-BoldItalic.eot');
    src: url('../fonts/karla/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-BoldItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-BoldItalic.woff') format('woff'),
        url('../fonts/karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-ExtraBold.eot');
    src: url('../fonts/karla/Karla-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-ExtraBold.woff2') format('woff2'),
        url('../fonts/karla/Karla-ExtraBold.woff') format('woff'),
        url('../fonts/karla/Karla-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-ExtraLight.eot');
    src: url('../fonts/karla/Karla-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-ExtraLight.woff2') format('woff2'),
        url('../fonts/karla/Karla-ExtraLight.woff') format('woff'),
        url('../fonts/karla/Karla-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-Light.eot');
    src: url('../fonts/karla/Karla-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-Light.woff2') format('woff2'),
        url('../fonts/karla/Karla-Light.woff') format('woff'),
        url('../fonts/karla/Karla-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-ExtraBoldItalic.eot');
    src: url('../fonts/karla/Karla-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/karla/Karla-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-ExtraLightItalic.eot');
    src: url('../fonts/karla/Karla-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-ExtraLightItalic.woff') format('woff'),
        url('../fonts/karla/Karla-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-LightItalic.eot');
    src: url('../fonts/karla/Karla-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-LightItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-LightItalic.woff') format('woff'),
        url('../fonts/karla/Karla-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-Italic.eot');
    src: url('../fonts/karla/Karla-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-Italic.woff2') format('woff2'),
        url('../fonts/karla/Karla-Italic.woff') format('woff'),
        url('../fonts/karla/Karla-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-MediumItalic.eot');
    src: url('../fonts/karla/Karla-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-MediumItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-MediumItalic.woff') format('woff'),
        url('../fonts/karla/Karla-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-SemiBold.eot');
    src: url('../fonts/karla/Karla-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-SemiBold.woff2') format('woff2'),
        url('../fonts/karla/Karla-SemiBold.woff') format('woff'),
        url('../fonts/karla/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-Regular.eot');
    src: url('../fonts/karla/Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-Regular.woff2') format('woff2'),
        url('../fonts/karla/Karla-Regular.woff') format('woff'),
        url('../fonts/karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-Medium.eot');
    src: url('../fonts/karla/Karla-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-Medium.woff2') format('woff2'),
        url('../fonts/karla/Karla-Medium.woff') format('woff'),
        url('../fonts/karla/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla/Karla-SemiBoldItalic.eot');
    src: url('../fonts/karla/Karla-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/karla/Karla-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/karla/Karla-SemiBoldItalic.woff') format('woff'),
        url('../fonts/karla/Karla-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

