body {
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  letter-spacing: 0;
  background: #fff;
  margin: 0;
  max-width: 100%;
  color: #000 !important ;
  position: relative;
}
.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.three{
  display: none;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100% !important;
  max-width: 1480px !important;
  margin: 0 auto;
  padding: 0 60px;
}
.header {
  padding: 20px 25px;
  height: 105px;
  position: relative;
  width: 100%;
  max-width: 1600px !important;
  margin: 0 auto;
}
a {
  display: inline-block;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-transform: initial;
  padding: 0;
  text-decoration: none;
}
.header-container {
  width: 100% !important;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 5;
  position: absolute;
}
.header .navbar {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 0 60px;
}
.navbar-header {
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: end;
}
.header .navbar .navbar-brand-logo {
  width: 100%;
  max-width: 30%;
}
.header .navbar-nav a {
  font-size: 18px;
  font-family: 'Karla';
  font-weight: 500;
  color: #fff;
  padding: 4px 16px;
  border-radius: 5px;
  border-bottom: 1px solid transparent;
  text-transform: capitalize;
  transition: all 1s ease;
}
.header .navbar-nav li:first-child a {
  background-color: #fff;
  color: #ef4a8e!important;
}
.header .navbar-nav li {
  padding: 0 5px;
}
.header .navbar-nav a:hover {
  background-color: #fff;
  color: #ef4a8e!important;
}
.only-mobile {
  display: none;
}
/* .header.sticky, */
.header-container.sticky {
  position: sticky;
  top: 0px;
  z-index: 9999;
  background: #000;
  width: 100%;
  margin: 0 auto;
  animation: slide-down 0.8s;
  opacity: 1;
}
@keyframes slide-down {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body.overflow {
  overflow: hidden;
}

/* footer */
.footer-outer {
  background: #000;
  padding: 60px 40px;
}
.footer-outer .container {
  width: 100% !important;
  max-width: 1600px !important;
  padding: 0;
}
.footer-menu a.navbar-brand-logo img {
  width: 100%;
  max-width: 21%;
}
.navbar-footer a.nav-link {
  font-size: 28px;
  line-height: 29px !important;
  color: #fff;
  font-family: "Space Grotesk";
  font-weight: 400;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 4px 0;
  margin: 0 0 8px 0;
}
.navbar-footer a.nav-link:hover {
  border-bottom: 1px solid #fff;
}
.navbar-footer ul.navbar-nav {
  padding-right: 70px;
}
.navbar-footer {
  display: flex;
  text-align: left;
  padding: 50px 0;
}
.navbar-footer a.active-item {
  border-bottom: 1px solid #fff;
}
.navbar-footer li.nav-item {
  display: inherit;
}
h1.footer-right-side-title {
  color: #fff;
  font-size: 42px;
  line-height: 50px !important;
  padding-bottom: 60px;
  margin-bottom: 35px;
  font-family: "Space Grotesk";
  background-position: 0 100%;
  background-image: url(../images/footer-arrow.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.footer-menu .column-left {
  width: 100%;
  max-width: 55% !important;
}
.footer-menu .column-right {
  width: 100%;
  max-width: 45% !important;
  background-position: 100% 0;
  background-image: url(../images/footer-bg-image.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.row.footer-menu {
  margin: 0;
}
.footer-right-side-desc p {
  font-size: 20px;
  line-height: 25px !important;
  margin-bottom: 0;
  color: #fff;
  font-family: "Space Grotesk";
  width: 100%;
  max-width: 63%;
}
.footer-right-side-desc a.btn {
  font-size: 17px;
  line-height: 25px !important;
  background-color: #ebe4bd;
  color: #000;
  cursor: pointer;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Space Grotesk";
  font-weight: 700;
  padding: 15px 25px;
}
.footer-right-side-desc a.btn:hover {
  background: #fff;
}
.footer-right-side {
  padding: 26px 0 0 0;
}
.footer-right-side-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links-social a.social-icons {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px 30px;
}
a.social-icons.footer-links-socialitem-facebook {
  background-image: url(../images/facebook.png);
}
a.social-icons.footer-links-socialitem-instagram {
  background-image: url(../images/instagram.png);
}
a.social-icons.footer-links-socialitem-linkedin {
  background-image: url(../images/linkdin.png);
}
a.footer-links-below-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20px !important;
  color: #fff;
  opacity: 0.5;
  margin: 20px 25px 0 0;
  cursor: pointer;
}
a.footer-links-below-item:hover {
  opacity: 1;
  color: #fff;
}
/* Banner */
.home-banner {
  background-color: #F7F8FC;
  background-image: url(../images/home-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: 66% 95%;
  background-position: right top;
  padding: 88px 0 40px;
}
.home-banner-row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}